{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Film_id</th>
                <th>Title</th>
                <th>Rental_rate</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.filmId }}</td> 
                <td>{{ film.title }}</td>
                <td>{{ film.rentalRate }}</td>
                <td>{{ film.rating }}</td>
                <td>
                    <a href="{{ path('film_show', {'film_id': film.filmId}) }}">show</a>
                    <a href="{{ path('film_edit', {'film_id': film.filmId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
{% endblock %}
